# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
todo-list-redux/.idea
todo-list-redux/node_modules
todo-list-redux/.pnp
todo-list-redux/.pnp.js

# testing
todo-list-redux/coverage

# production
todo-list-redux/build

# misc
todo-list-redux/.DS_Store
todo-list-redux/.env.local
todo-list-redux/.env.development.local
todo-list-redux/.env.test.local
todo-list-redux/.env.production.local

todo-list-redux/npm-debug.log*
todo-list-redux/yarn-debug.log*
todo-list-redux/yarn-error.log*
