.TodoItem {
    margin-top: 10px;
    width: 100%;
    background: white;
    border-radius: 5px;
}

.Done {
    background: #d8d5d5;
}

.TodoItems {
    margin-top: 26px;
    transition: 3s;
}

.option-enter {
    opacity: 0;
}

.option-enter.option-enter-active {
    opacity: 1;
    transition: opacity 3s ease;
}

.option-exit {
    opacity: 1;
}

.option-exit.option-exit-active {
    opacity: 0;
    transition: opacity 3s ease;
}