@import '../../_helpers/scss/variables';

.Edit {
  padding: 12px 0;
  width: 519px;
  margin: 0 auto;
  &__Input {
    font-size: $main-size;
    padding: 9px 8px;
    width: 458px;
    border: 1px solid #e4e1e1;
    border-radius: 5px;
  }
  &__Button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: $color-font;
    margin-left: 16px;
  }
  &__Button:focus {
    outline: none;
  }
}
