@import '../../_helpers/scss/variables';

.Item {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    &__Input[type='checkbox'] {
        display: block;
        margin: 20px auto
    }
    &__Input[type='checkbox']:after{
        line-height: 1.5em;
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid $color-theme;
        border-radius: 3px;
        background: #fff;
    }
    &__Desc {
        display: flex;
        overflow: hidden;
    }
    &__ChekBlock {
        margin-top: -14px;
        position: relative;
    }
    &__Icon {
        position: absolute;
        top: 23px;
        left: 3px;
        font-size: 21px;
        color: white;
        display: none;
    }
    &__Title {
        font-size: $main-size;
        color: $color-font;
        margin-left: 45px;
        margin-top: 2px;
        border: none;
        width: 359px;
        padding: 7px 8px;
        background: none;
    }
    &__Active {
        border: 1px solid #e4e1e1;
        border-radius: 5px;
    }
    &__Buttons {
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__ButtonImportant, &__ButtonEdit, &__ButtonDelete {
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
        color: $color-font;
    }
    &__ButtonImportant:focus, &__ButtonEdit:focus, &__ButtonDelete:focus {
        outline: none;
    }
}

.Important {
    color: $color-theme;
}

.Done[type='checkbox']:after {
    content: url("../../_helpers/img/check-mark.svg");
    background-color: #fff;
    color: #fff;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    background: $color-theme;
    border-color: transparent;
}

  