.TodoItems {
    margin-top: 26px;
    transition: 3s;
}

.Spinner {
    display: flex;
    justify-content: center;
}

.ExampleEnter {
    opacity: 0.01;
}

.ExampleEnter.ExampleEnterActive {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.ExampleLeave {
    opacity: 1;
}

.ExampleLeave.ExampleLeaveActive {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}