@import '../../_helpers/scss/variables';

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.App {
    width: 800px;
    height: 430px;
    margin: 0 auto;
    background-color: $color-theme;
    padding-top: 42px;
}