@import '../../_helpers/scss/variables';

.AppHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__Title {
        color: $color-font;
    }
    &__SearchPanel {
        position: relative;
        top: 5px;
    }
    &__SearchInput {
        padding: 9px 8px;
        font-size: $main-size;
        border: 1px solid #e4e1e1;
        width: 189px;
        border-radius: 5px;
    }
    &__SearchInput::-webkit-input-placeholder {
        color: #e4e1e1;
    }
    &__SearchIcon {
        position: absolute;
        top: 10px;
        right: 8px;
        font-size: 20px;
    }
    &__SearchIcon:hover {
        cursor: pointer;
    }
}